{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block customjs %}
    <script type="text/javascript" src="https://webapp.woosmap.com/webapp.js"></script>
    <script src="https://sdk.woosmap.com/localities/localities.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&libraries=places"></script>

    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        var language_code = '{{ LANGUAGE_CODE }}';
    </script>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static "js/custom_descriptions.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scripts_v20.js" %}"></script>
{% endblock customjs %}


{% block content %}
    <div class="map">
        <div class="main notice" style="display:none">
            <div class="container-notice container-fluid">
                <div class="notice-image">
                    <img src="{% static "images/notice.png" %}" id="notice-img"></div>
                <div class="notice-content">
                    <h2 data-trans="home-delivery"></h2>
                    <p data-trans="explore-around-you">
                    </p>
                    <p data-trans="help-us"><span class="mark">
                    </p>
                    <div class="notice-button">
                        <div id="closeNotice" class="button" data-trans="ok-understood"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="store-locator" class="map-holder"></div>
    </div>
{% endblock content %}

