{% extends "base.html" %}
{% block content %}
    <div class="main">
        <div>
            <div class="container-fluid" data-trans="contact-text">
                <h1>Contact</h1>
                <p><strong>Proxisur</strong> est un projet gratuit développé et géré par des bénévoles.</p>
                <p>Il est né à Reggio Emilia lors du confinement italien sous le nom de Vicino e Sicuro, à l'initiative de trois professionnels du numérique: <a href="https://www.linkedin.com/in/sghedo/" target="_blank">Daniele Sghedoni</a>, <a href="https://www.linkedin.com/in/cristianoferrari/" target="_blank">Cristiano Ferrari</a>, <a href="https://www.linkedin.com/in/alfredocolella/" target="_blank">Alfredo Colella</a>. Afin d'accélérer l'extension du projet à l'échelle nationale, <a href="https://www.linkedin.com/in/francescodelbosco" target="_blank">Francesco del Bosco</a>, professionnel du secteur numérique à Milan, a également rejoint l'équipe Vicinoesicuro.</p>
                <p>L’équipe Web Geo Services a rejoint le projet pour soutenir sa communauté de développeurs ainsi que le déployer en France et dans d’autres pays d’Europe.</p>
                <p>Pour plus d'informations, ou suggestion de carte sur une autre thématique vous pouvez écrire à <a href="mailto:proxisur@webgeoservices.com">proxisur@webgeoservices.com</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
