{% extends "base.html" %}
{% block content %}
    <div class="main">
        <div>
            <div class="container-fluid" data-trans="contact-text">
                <h1>Contact</h1>
                <p><strong>Nearbyandsafe</strong> is a free project developed and maintained by volunteers.</p>
                <p>It was born in Reggio Emilia during the italian lockdown, <strong>Vicino-e-sicuro</strong> was built by 3 digital experts : <a href="https://www.linkedin.com/in/sghedo/" target="_blank">Daniele Sghedoni</a>, <a href="https://www.linkedin.com/in/cristianoferrari/" target="_blank">Cristiano Ferrari</a>, <a href=\"https://www.linkedin.com/in/alfredocolella/\" target=\"_blank\">Alfredo Colella</a>. In order to extend the project at the country level, <a href="https://www.linkedin.com/in/francescodelbosco" target="_blank">Francesco del Bosco</a> (digital professional from Milan area), and <a href="https://www.linkedin.com/in/capuccifederico/" target="_blank">Federico Capucci </a> (communication professional from Ferrara), has joined the team.</p>
                <p>Web Geo Services jumped in the journey to help scaling the project across Europe.</p>
                <p>For more info, please contact the team at <a href="mailto:nearbyandsafe@webgeoservices.com">nearbyandsafe@webgeoservices.com</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
