{% extends "base.html" %}
{% block content %}
    <div class="main">
        <div>
            <div class="container-fluid" >
                <h1>Über das Projekt</h1>
                <p>In einer Zeit, in der es unerlässlich ist, zu Hause zu bleiben, um die Coronavirus-Pandemie zu bekämpfen,
                    ist <strong>NearbyAndSafe</strong> (nah und sicher) ein konkretes Instrument zur Unterstützung von Bürgern und lokalen Unternehmen.</p>
                <p>Das <strong>kostenfreie Projekt</strong> bildet über eine <strong>interaktive Karte alle lokalen Händler und Anbieter ab, die einen Lieferservice, Click & Collect, Abholmöglichkeiten bieten:</strong> Lebensmittelgeschäfte, Restaurants, Bäckereien etc.</p>
                <p>Die Bürger können über die Karte Händler und Anbieter in ihrer Nähe ausfindig machen, nach Produkten und Dienstleistungen filtern, Informationen über Liefermethoden und Preise in Erfahrung bringen und Händler direkt kontaktieren.
                    Die Händler können durch die Registrierung bei <strong>nearbyandsafe</strong> ihre Sichtbarkeit ohne Werbeinvestitionen erhöhen.</p>
                <p>Das gemeinnützige Projekt ist während des italienischen Shutdowns in Reggio Emilia ins Leben gerufen worden.
                    <strong>vicino-e-sicuro</strong> wurde von drei Digital-Experten entwickelt:
                    <a href="https://www.linkedin.com/in/sghedo/" target="_blank">Daniele Sghedoni</a>,
                    <a href="https://www.linkedin.com/in/cristianoferrari/" target="_blank">Cristiano Ferrari</a>,
                    <a href=\"https://www.linkedin.com/in/alfredocolella/\" target=\"_blank\">Alfredo Colella</a>.
                    Um das Projekt landesweit bekannt zu machen, haben sich <a href="https://www.linkedin.com/in/francescodelbosco" target="_blank">Francesco del Bosco</a> (Digital-Experte aus dem Raum Mailand), und <a href="https://www.linkedin.com/in/capuccifederico/" target="_blank">Federico Capucci</a> (Kommunikationsexperte aus Ferrara) dem Team angeschlossen.</p>
                <p>Web Geo Services unterstützt das gemeinnützige Projekt mit technologischem Know-how. Außerdem arbeitet das Team von Web Geo Services aktiv ehrenamtlich mit, um die Skalierung des Projekts in ganz Europa voranzutreiben.</p>
                <p>Für weitere Informationen wenden Sie sich bitte an das Team unter  <a href="mailto:nearbyandsafe@webgeoservices.com">nearbyandsafe@webgeoservices.com</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
