{% extends "base.html" %}
{% block content %}
    <div class="main">
        <div>
            <div class="container-fluid" data-trans="contact-text">
                <h1>Hintergrund und Kontakt</h1>
                <p><strong>Nearbyandsafe</strong>  ist ein gemeinnütziges, nicht auf Gewinn ausgerichtetes Projekt, das von Freiwilligen entwickelt und unterhalten wird.</p>
                <p> ist ein gemeinnütziges, nicht auf Gewinn ausgerichtetes Projekt, das von Freiwilligen entwickelt und unterhalten wird.
                    <strong>Vicino-e-sicuro</strong> wurde von drei Digital-Experten entwickelt: <a href="https://www.linkedin.com/in/sghedo/" target="_blank">Daniele Sghedoni</a>,
                    <a href="https://www.linkedin.com/in/cristianoferrari/" target="_blank">Cristiano Ferrari</a>,
                    <a href=\"https://www.linkedin.com/in/alfredocolella/\" target=\"_blank\">Alfredo Colella</a>.
                    Um das Projekt landesweit bekannt zu machen, haben sich <a href="https://www.linkedin.com/in/francescodelbosco" target="_blank">Francesco del Bosco</a> (Digital-Experte aus dem Raum Mailand),
                    und <a href="https://www.linkedin.com/in/capuccifederico/" target="_blank">Federico Capucci</a> (Kommunikationsexperte aus Ferrara), dem Team angeschlossen.</p>
                <p>Web Geo Services unterstützt das gemeinnützige Projekt mit technologischem Know-how. Außerdem arbeitet das Team von Web Geo Services aktiv ehrenamtlich mit, um die Skalierung des Projekts in ganz Europa voranzutreiben.</p>
                <p>Für weitere Informationen wenden Sie sich bitte an das Team unter  <a href="mailto:nearbyandsafe@webgeoservices.com">nearbyandsafe@webgeoservices.com</a></p>
                <p><strong>Nearby and safe - nah und sicher: Sicher zu Hause zu bleiben bedeutet nicht, weit von lokalen Händlern und Anbietern entfernt zu sein.</strong></p>
            </div>
        </div>
    </div>
{% endblock content %}
